body{
    width: 960px;
    margin: 0 auto;
}

h1{
    font-size: 35px;
    color: gray;
    margin-left: 25px;
}
.contact{
   display: flex;
   justify-content: center;
   padding: 12px;
}

.about{
    width: 580px;
    height: 47px;
    font-size: 20px;
    
}

.about2{
    width: 580px;
    height: 240px;
    font-size: 20px;
}

.btn{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    text-align: center;
    width: 580px;
    height: 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;

}
footer{
    background-color: black;
    width: 100%;
    height: 55px;
}
.footer-right{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    padding: 15px;
}
