body{
    width: 960px;
    margin: 0 auto;

}

h1{
    font-size: 35px;
    color: gray;
    margin-left: 25px;
}
.contact{
   display: flex;
   justify-content: center;
   padding: 12px;
}

.about{
    width: 580px;
    height: 47px;
    font-size: 20px;
    
}

.about2{
    width: 580px;
    height: 240px;
    font-size: 20px;
}

.btn{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    text-align: center;
    width: 580px;
    height: 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 0px;
}

.btn p{
    margin-top: 12px;
}
footer{
    background-color: black;
    width: 960px;
    height: 55px;
}
.footer-right{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    padding: 15px;
}

@media screen and (max-width: 920px){
    body{
        width: 100%;
    }
    h1{
        text-align: center;        
    }

    .contact{
        margin: 0 auto;        
        width: 500px;
        /* height: auto; */
    }

    footer{
        margin: 0 auto;
       width: 100%;
    }
}

@media screen and (max-width: 850px){
    body{
        width: 100%;
    }

    h1{
        font-size: 28px;
    }

    .contact{
        margin: 0 auto;        
        width: 400px;
    }

    .about{
        height: 40px;
        font-size: 15px;
    }

    .about2{
        height: 150px;
        font-size: 16px;
    }

    footer{
        margin: 0 auto;
        width: 100%;
    }

    
}
